:root {
  --main-red-color: #d41443;
  --main-white-color: #ffffff;
  --background-pink-color: #ffb8ca;
  --section-header-pink-color: #ffa5ba;

  --light-pink-background-color: #fff5f6;
  --background-yellow-color: #f0d1a5;
  --background-green-color: #c2e297;
  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --quote-background-grey-color: #fafafa;

  --cafe-peach-color: #f0d1a5;
  --food_truck-green-color: #c2e297;

  --social-link-pink-color: #fea5bb;

  --menu-background-color: #e17992;

  --hover-grey-color: #ecebeb;

  --main-font-family: 'DM Sans', sans-serif;
  --second-font-family: 'Titan One', sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
