<!-- About Section -->
<section class="about section">
    <div class="container">
        <h3 class="about__sub-title">tradition and love</h3>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__flex about__overlay">
            <picture class="about__flex-pic">
                <source srcset="./images/about/cow_laptop-min.png 1x, ./images/about/cow_laptop@2x-min.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/about/cow_tablet-min.png 1x, ./images/about/cow_tablet@2x-min.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/about/cow_mobile-min.png 1x, ./images/about/cow_mobile@2x-min.png 2x"
                    media="(min-width: 320px)">
                <img src="./images/about/cow_laptop-min.png" alt="cow">
            </picture>
            <div class="about__description">
                <p class="about__first-box">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>

                <div class="about__second-box">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <p class="about__second-box--ending">
                        Aliquam erat volutpat. Aenean accumsan.
                    </p>
                </div>

                <button type="button" class="about__btn">
                    Read more
                    <svg class="about__btn-icon" width="8" heigth="16">
                        <use href="./images/sprite.svg#icon-arrow-2"></use>
                    </svg>
                </button>
            </div>

        </div>


    </div>
</section>