<section class="customer__section section">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        
        <div class="customer__slider">
            <picture class="customer__portrait">
                <source
                    srcset="./images/customer-review/customer-review-1_laptop-min.png 1x, ./images/customer-review/customer-review-1_laptop@2x-min.png 2x"
                    media="(min-width: 1200px)">
                <source
                    srcset="./images/customer-review/customer-review-1_tablet-min.png 1x, ./images/customer-review/customer-review-1_tablet@2x-min.png 2x"
                    media="(min-width: 768px)">
                <source
                    srcset="./images/customer-review/customer-review-1_mobile-min.png 1x, ./images/customer-review/customer-review-1_mobile@2x-min.png 2x"
                    media="(min-width: 320px)">
                <img  class="customer__portrait" src="./images/customer-review/customer-review-1_mobile-min.png" alt="customer-1" width="85" height="85">
            </picture>
            
            <div class="customer__comment-box">
                <div class="customer__comment-text">
                    <p>
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
            
            <p class="customer__signature">
                Emily, Los Angeles
            </p>
            
            <ul class="list customer__slider-list">
                <li class="customer__slider-item">
                    <svg class="customer__slider-icon customer__slider-icon--current" width="12" height="12">
                        <use href="./images/sprite.svg#icon-home"></use>
                    </svg>
                </li>
                <li class="customer__slider-item">
                    <svg class="customer__slider-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-ellipse"></use>
                    </svg>
                </li>
                <li class="customer__slider-item">
                    <svg class="customer__slider-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-ellipse"></use>
                    </svg>
                </li>
            </ul>
        </div>
         
    </div>
</section>