<section class="customer-section section">
    <div class="container">
        <!-- <img srcset="./images/customers-review-1_mobile-min.png 1x, ./images/customers-review-1_mobile@2x-min.png 2x" 
        src="../images/customers-review-1_mobile-min.png"
        alt="customer-1" width="85" height="85"> -->

        <div class="customer__comment-overlay">
            <p class="customer__comment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        
        <svg width="32" height="4">
            <use href="images/sprite.svg#icon-ellipse-group-review"></use>
        </svg>
        
        <p class="customer__signature">
            Emily, Los Angeles
        </p>

        <svg width="12" height="12">
            <use href="images/sprite.svg#icon-home"></use>
        </svg>
        <svg width="12" height="12">
            <use href="images/sprite.svg#icon-ellipse"></use>
        </svg>
        <svg width="12" height="12">
            <use href="images/sprite.svg#icon-ellipse"></use>
        </svg>
    </div>
</section>