<section class="footer">
  <div class="container">
    <div class="footer_title">
      <p class="footer_title-made">homemade ice cream  made</p>
      <p class="footer_title-passion">with passion</p>
    </div>
    <div class="footer_social">
      <ul class="footer_social-list list">
        <li class="footer_icon-item">
          <a
            class="footer_icon-bcgr"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__icon" width="32" height="32" fill="#FEA5BB">
              <use class="" href="./images/sprite.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="footer_icon-item">
          <a
            class="footer_icon-bcgr"
            href="https://telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
          <svg class="footer__icon" width="32" height="32" fill="#FEA5BB">
            <use class="" href="./images/sprite.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer_icon-item">
          <a
            class="footer_icon-bcgr"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
          <svg class="footer__icon" width="32" height="32" fill="#FEA5BB">
            <use class="" href="./images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <p class="footer_contacts">
        Feel free to contact
        <span>
          <a class="footer_contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a></span
        >
      </p>
    </div>
    <div>
      <p>© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</section>
