<!--FOOTER-->
<section class="footer">
  <div class="comtainer">
    <h2 class="footer_title">homemade ice cream made</h2>
    <p class="footer_text">with passion</p>
    <div class="footer_social">
      <ul class="footer_social-list list">
        <li class="footer_icon-item">
          <a class="footer_icon-bcgr" href="#">
            <svg class="footer_icons" width="32" height="32" fill="">
              <use href=" "></use>
            </svg>
          </a>
        </li>
        <li class="footer_icon-item">
          #FEA5BB
          <a class="footer_icon-bcgr" href="#">
            <svg class="footer_icons" width="32" height="32" fill="#FEA5BB">
              <use href=" "></use>
            </svg>
          </a>
        </li>
        <li class="footer_icon-item">
          <a class="footer_icon-bcgr" href="#">
            <svg class="footer_icons" width="32" height="32" fill="#FEA5BB">
              <use href=" "></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer_contacts">Feel free to contact <span>+61 (0) 383 766 284</span></p>
    <div>
      <p>© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</section>
