<footer class="footer">
  <div class="container footer_page">
    <div class="footer_title">
      <p class="footer_title-made">homemade ice cream made</p>
      <p class="footer_title-passion">with passion</p>
    </div>
    <div class="footer_social">
      <ul class="list">
        <li>
          <a
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
          <svg width="32" height="32" fill="#FEA5BB">
            <use class="" href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
          <svg width="32" height="32" fill="#FEA5BB">
            <use class="" href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
          <svg width="32" height="32" fill="#FEA5BB">
            <use class="" href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>
        Feel free to contact
        <span>
          <a class="footer_contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a></span
        >
      </p>
    </div>

  </div>
  <div class="footer_bottom">
    <p>© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
