<section id="gallery" class="gallery-section">
    <div class="conteiner">
        <div class="gallery">
            <picture>
                <picture>
                    <source srcset="./images/gallery/gallery_laptop-min.png 1x, ./images/gallery/gallery_laptop@2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/gallery_tablet-min.png 1x, ./images/gallery/gallery_tablet-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/gallery_mobile-min.png 1x, ./images/gallery/gallery_mobile@2x-min.png 2x" media="(min-width: 480px)"/>
                    <img src="./images/gallery/gallery_laptop-min.png" class="gallery__img" alt="photo1" width="100%"/>
                </picture> 
            </picture>
            <!-- <div class="gallery__column--1"><figure class="gallery__thumb--1">
                <picture>
                    <source srcset="./images/gallery/D_photo1-min.png 1x, ./images/gallery/D_photo1-2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/T_photo1-min.png 1x, ./images/gallery/T_photo1-2x-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/M_photo1-min.png 1x, ./images/gallery/M_photo1-2x-min.png 2x" media="(min-width: 320px)"/>
                    <img src="./images/gallery/D_photo1-min.png" class="gallery__img" alt="photo1" width="450"/>
                </picture>           
            </figure>
            </div>
            <div class="gallery__column--2">
                <figure class="gallery__thumb--2">
                    <picture>
                        <source srcset="./images/gallery/D_photo2-min.png 1x, ./images/gallery/D_photo2-2x-min.png 2x" media="(min-width: 1280px)"/>
                        <source srcset="./images/gallery/T_photo2-min.png 1x, ./images/gallery/T_photo2-2x-min.png 2x" media="(min-width: 768px)"/>
                        <source srcset="./images/gallery/M_photo2-min.png 1x, ./images/gallery/M_photo2-2x-min.png 2x" media="(min-width: 320px)"/>
                        <img src="./images/gallery/D_photo2-min.png" class="gallery__img" alt="" width="450"/>
                    </picture>           
                </figure>
                <figure class="gallery__thumb--3">
                    <picture>
                        <source srcset="./images/gallery/D_photo3-min.png 1x, ./images/gallery/D_photo3-2x-min.png 2x" media="(min-width: 1280px)"/>
                        <source srcset="./images/gallery/T_photo3-min.png 1x, ./images/gallery/T_photo3-2x-min.png 2x" media="(min-width: 768px)"/>
                        <source srcset="./images/gallery/M_photo3-min.png 1x, ./images/gallery/M_photo3-2x-min.png 2x" media="(min-width: 320px)"/>
                        <img src="./images/gallery/D_photo3-min.png" class="gallery__img" alt="" width="450"/>
                    </picture>           
                </figure>
            </div>
            <div class="gallery__column--3"><figure class="gallery__thumb--4">
                <picture>
                    <source srcset="./images/gallery/D_photo4-min.png 1x, ./images/gallery/D_photo4-2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/T_photo4-min.png 1x, ./images/gallery/T_photo4-2x-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/M_photo4-min.png 1x, ./images/gallery/M_photo4-2x-min.png 2x" media="(min-width: 320px)"/>
                    <img src="./images/gallery/D_photo4-min.png" class="gallery__img" alt=""width="450" />
                </picture>           
            </figure>
            <figure class="gallery__thumb--5">
                <picture>
                    <source srcset="./images/gallery/D_photo5-min.png 1x, ./images/gallery/D_photo5-2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/T_photo5-min.png 1x, ./images/gallery/T_photo5-2x-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/M_photo5-min.png 1x, ./images/gallery/M_photo5-2x-min.png 2x" media="(min-width: 320px)"/>
                    <img src="./images/gallery/D_photo5-min.png" class="gallery__img" alt="" width="100&"/>
                </picture>           
            </figure>
            </div>
            <div class="gallery__column--4">
                <figure class="gallery__thumb--6">
                    <picture>
                        <source srcset="./images/gallery/D_photo6-min.png 1x, ./images/gallery/D_photo6-2x-min.png 2x" media="(min-width: 1280px)"/>
                        <source srcset="./images/gallery/T_photo6-min.png 1x, ./images/gallery/T_photo6-2x-min.png 2x" media="(min-width: 768px)"/>
                        <source srcset="./images/gallery/M_photo6-min.png 1x, ./images/gallery/M_photo6-2x-min.png 2x" media="(min-width: 320px)"/>
                        <img src="./images/gallery/D_photo6-min.png" class="gallery__img" alt="" width="100%"/>
                    </picture>           
                </figure>
                <figure class="gallery__thumb--7">
                    <picture>
                        <source srcset="./images/gallery/D_photo7-min.png 1x, ./images/gallery/D_photo7-2x-min.png 2x" media="(min-width: 1280px)"/>
                        <source srcset="./images/gallery/T_photo7-min.png 1x, ./images/gallery/T_photo7-2x-min.png 2x" media="(min-width: 768px)"/>
                        <source srcset="./images/gallery/M_photo7-min.png 1x, ./images/gallery/M_photo7-2x-min.png 2x" media="(min-width: 320px)"/>
                        <img src="./images/gallery/D_photo7-min.png" class="gallery__img" alt="" width="100%"/>
                    </picture>           
                </figure>
            </div>
            <div class="gallery__column--5"><figure class="gallery__thumb--8">
                <picture>
                    <source srcset="./images/gallery/D_photo8-min.png 1x, ./images/gallery/D_photo8-2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/T_photo8-min.png 1x, ./images/gallery/T_photo8-2x-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/M_photo8-min.png 1x, ./images/gallery/M_photo8-2x-min.png 2x" media="(min-width: 320px)"/>
                    <img src="./images/gallery/D_photo8-min.png" class="gallery__img" alt="" width="100%"/>
                </picture>           
            </figure>
            <figure class="gallery__thumb--9">
                <picture>
                    <source srcset="./images/gallery/D_photo9-min.png 1x, ./images/gallery/D_photo9-2x-min.png 2x" media="(min-width: 1280px)"/>
                    <source srcset="./images/gallery/T_photo9-min.png 1x, ./images/gallery/T_photo9-2x-min.png 2x" media="(min-width: 768px)"/>
                    <source srcset="./images/gallery/M_photo9-min.png 1x, ./images/gallery/M_photo9-2x-min.png 2x" media="(min-width: 320px)"/>
                    <img src="./images/gallery/D_photo9-min.png" class="gallery__img" alt="" width="100%"/>
                </picture>           
            </figure></div>
            <div class="gallery__column--6">
                <figure class="gallery__thumb--10">
                    <picture>
                        <source srcset="./images/gallery/D_photo10-min.png 1x, ./images/gallery/D_photo10-2x-min.png 2x" media="(min-width: 1280px)"/>
                        <source srcset="./images/gallery/T_photo10-min.png 1x, ./images/gallery/T_photo10-2x-min.png 2x" media="(min-width: 768px)"/>
                        <source srcset="./images/gallery/M_photo10-min.png 1x, ./images/gallery/M_photo10-2x-min.png 2x" media="(min-width: 320px)"/>
                        <img src="./images/gallery/D_photo10-min.png" class="gallery__img" alt="" width="100%"/>
                    </picture>           
                </figure>  
            </div> -->
        
        </div>
    </div>
</section>