<div class="menu menu__container js-menu-container" id="mobile-menu">
  <button class="menu__close-button js-close-menu" aria-label="toggle menu">
    <svg class="menu__icon" width="14px" height="14px">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <button class="menu__button" type="button">
    Buy now
    <svg class="contacts-buttons-list__svg contacts-buttons-list__svg_stroke-red">
      <use href="./images/sprite.svg#icon-arrow-2"></use>
    </svg>
  </button>
  <ul class="menu-site-nav list">
    <li class="menu-site-nav__item">
      <a class="menu-site-nav__link js-close-menu-link-1" aria-label="toggle menu" href="#home"
        >Home</a
      >
    </li>
    <li class="menu-site-nav__item">
      <a class="menu-site-nav__link js-close-menu-link-2" aria-label="toggle menu" href="#about-us"
        >About us</a
      >
    </li>
    <li class="menu-site-nav__item">
      <a class="menu-site-nav__link js-close-menu-link-3" aria-label="toggle menu" href="#how-made"
        >How it’s made?</a
      >
    </li>
    <li class="menu-site-nav__item">
      <a class="menu-site-nav__link js-close-menu-link-4" aria-label="toggle menu" href="#products"
        >Our products</a
      >
    </li>
    <li class="menu-site-nav__item">
      <a class="menu-site-nav__link js-close-menu-link-5" aria-label="toggle menu" href="#contacts"
        >Contact</a
      >
    </li>
  </ul>
</div>
