<div modal-maps class="modal-maps is-hidden" id="map">
  <ul class="modal-maps__maps-slider list">
    <li map-1 class="modal-maps__chicago modal-maps__slide-map show">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d159795.13123067797!2d-87.65574973452941!3d41.909821617285736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e3330b49fb335%3A0xb46fa1274dbc6fbf!2sIce%20Cream%20Bar!5e0!3m2!1sru!2sua!4v1626887491908!5m2!1sru!2sua"
        style="border: 0"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </li>
    <li map-2 class="modal-maps__los-angeles modal-maps__slide-map hide">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125835.08653737637!2d-118.38975158418113!3d34.026012488639836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c725196a85a3%3A0x96ff969f3d488102!2sParadis%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1626889334332!5m2!1sru!2sua"
        style="border: 0"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </li>
    <li map-3 class="modal-maps__new-york modal-maps__slide-map hide">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10170.897271339414!2d-73.99382444547032!3d40.72185006936917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a51e0e03817%3A0x1356e73a1bedadce!2sVan%20Leeuwen%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1626889902856!5m2!1sru!2sua"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </li>
  </ul>
  <ul class="modal-maps__buttons-list list">
    <li>
      <button map-button-chicago close-map2 close-map3 class="modal-maps__button">Chicago</button>
    </li>
    <li>
      <button map-button-los-angeles close-map1 close-map3 class="modal-maps__button">
        Los Angeles
      </button>
    </li>
    <li>
      <button map-button-new-york close-map1 close-map2 class="modal-maps__button">New York</button>
    </li>
  </ul>
  <button modal-maps-close class="modal-maps__button-close">
    <svg class="modal-maps__close-svg">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>
