<section class="products section" id="products">
  <div class="container">
    <span class="products__text">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="ware-list list">
      <li class="ware-list__item ware-list__item--pink">
        <h3 class="ware-list__title">ice cream</h3>
        <p class="ware-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="ware-list__button">
          <svg class="ware-list__icon">
            <use class="" href="./images/sprite.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="ware-list__item ware-list__item--orange">
        <h3 class="ware-list__title ware-list__title--orange">ice coffee</h3>
        <p class="ware-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="ware-list__button">
          <svg class="ware-list__icon">
            <use class="" href="./images/sprite.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
      <li class="ware-list__item ware-list__item--green">
        <h3 class="ware-list__title ware-list__title--green">milkshakes</h3>
        <p class="ware-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="ware-list__button">
          <svg class="ware-list__icon">
            <use class="" href="./images/sprite.svg#icon-arrow-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
