.gallery-section {
  background: linear-gradient(to bottom, #fff5f6 30%, #fff 30%);
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
    background: linear-gradient(to bottom, #fff5f6 30%, #fff 30%);
  }
  @media screen and(min-width:1280px) {
    padding-bottom: 123px;
    background: linear-gradient(to bottom, #fff5f6 30%, #fff 30%);
  }
}
.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.gallery__item {
  list-style-type: none;
  cursor: pointer;
}
.gallery__item:not(:last-child) {
  margin-right: 2px;
  @media screen and (min-width: 768px) {
    margin-right: 4px;
  }
  @media screen and(min-width:1280px) {
    margin-right: 10px;
  }
}
.gallery__box {
  margin-top: 10px;
  margin-top: 2px;
  @media screen and (min-width: 768px) {
    margin-top: 4px;
  }
  @media screen and(min-width:1280px) {
    margin-top: 10px;
  }
}
//
.gallery__item--4 {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and(min-width:1280px) {
    margin-top: 60px;
  }
}

.gallery__item--5 {
  margin-top: -32px;
  @media screen and (min-width: 768px) {
    margin-top: -32px;
  }
  @media screen and(min-width:1280px) {
    margin-top: -46px;
  }
}
.gallery__img {
  border-radius: 10px;
}
.gallery__pic {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.gallery__pic:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
