.hero-backdrop {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  width: 100%;
  height: 609px;

  @media screen and (min-width: 768px) {
    max-width: 528px;
    height: 550px;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: var(--menu-background-color);

  visibility: visible;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 400ms var(--timing-function);

  .hero-backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.hero-modal__btn-close {
  min-height: 14px;
  min-width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  stroke: var(--main-white-color);

  position: absolute;
  top: 24px;
  right: 34px;
  @media (min-width: 768px) {
    right: 34px;
  }

  cursor: pointer;
  border: none;
  outline: none;
  transition: stroke 250ms var(--timing-function);

  &:hover,
  &:focus {
    stroke: var(--main-red-color);
  }
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;

  fill: currentColor;
}

// FORM STYLES

.hero-modal__form {
  padding: 50px;
}

.hero-modal__form-title {
  margin-bottom: 10px;

  font-family: var(--second-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-red-color);
}

.hero-modal__form-subtitle {
  margin-bottom: 15px;

  font-family: var(--second-font-family);
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-red-color);
}

.hero-modal__form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.hero-modal__form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;
}
.hero-modal__form-input-box {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-modal__form-input {
  height: 40px;
  width: 100%;

  cursor: pointer;
  padding-left: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 7px;
  background-color: var(--light-pink-background-color);

  transition: outline background-color 250ms var(--timing-function);

  &::placeholder {
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:hover {
    outline: none;
    // border: 1px solid var(--main-red-color);
    background-color: var(--hover-grey-color);
  }
}

.hero-modal__form-comment-area {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 20px;

  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 7px;
  background-color: var(--light-pink-background-color);

  transition: outline background-color 250ms var(--timing-function);

  &::placeholder {
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    outline: none;
    // border: 1px solid var(--main-red-color);
    background-color: var(--hover-grey-color);
  }
}

.hero-modal__policy {
  margin-top: 15px;
  margin-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-family: var(--main-font-family);
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  padding: 0;

  color: var(--quote-background-grey-color);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.hero-modal__policy-link {
  text-decoration: none;
  color: var(--quote-background-grey-color);
}

.hero-modal__policy-checkbox {
  appearance: none;
}

.hero-modal__policy-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url('../images/hero_header/circle-empty.svg');
  opacity: 0.5;
  cursor: pointer;
  .hero-modal__policy-checkbox:checked + & {
    background-image: url('../images/hero_header/circle-checked.svg');
  }
}

.hero-modal__form-btn-submit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--main-red-color);

  width: 120px;
  height: 44px;

  padding: 0 35px;

  background-color: var(--main-white-color);
  border: transparent;
  border-radius: 22px;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--hover-grey-color);
  }
}
