.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__text {
  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: var(--section-header-pink-color);
  margin-bottom: 15px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.ware-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.products__title {
  font-family: var(--second-font-family);
  color: var(--main-red-color);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 144px;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.ware-list__item {
  background-color: var(--background-pink-color);
  border-radius: 24px;
  margin-bottom: 130px;
  position: relative;
  padding: 161px 40px 41px 40px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 767px) {
    max-width: 280px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
    padding: 152px 11px 40px 11px;
    padding-right: 11px;
    padding-left: 11px;
    flex-basis: calc((100% - 60px) / 3);
    &:last-child {
      margin-right: 0px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 27px;
      padding: 163px 44px 50px 44px;
      flex-basis: calc((100% - 81px) / 3);
    }
  }
}
.ware-list__title {
  font-family: var(--second-font-family);
  color: var(--main-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.ware-list__item--pink:before {
  content: '';
  background-image: url(../images/products/ice-cream-pink_mobile-min.png);
  width: 249px;
  position: absolute;
  top: -113px;

  left: 50%;
  transform: translateX(-50%);

  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-cream-pink_mobile@2x-min.png);
  }
  height: 252px;
  display: block;
  background-size: contain;

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/ice-cream-pink_tablet-min.png);
    width: 220px;
    top: -104px;
    height: 224px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-pink_tablet@2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/ice-cream-pink_laptop-min.png);
    width: 335px;
    top: -210px;
    height: 335px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-pink_laptop@2x-min.png);
    }
  }
}
.ware-list__item--orange::before {
  content: '';
  background-image: url(../images/products/ice-cream-yellow_mobile-min.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-cream-yellow_mobile@2x-min.png);
  }
  width: 249px;
  height: 252px;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;

  display: block;
  position: absolute;

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/ice-cream-yellow_tablet-min.png);
    width: 220px;
    top: -104px;
    height: 224px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-yellow_tablet@2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/ice-cream-yellow_laptop-min.png);
    width: 335px;
    top: -210px;
    height: 335px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-yellow_laptop@2x-min.png);
    }
  }
}
.ware-list__item--green::before {
  content: '';
  background-image: url(../images/products/ice-cream-green_mobile-min.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-cream-green_mobile@2x-min.png);
  }
  width: 249px;
  background-repeat: no-repeat;
  height: 252px;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  background-size: contain;

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/ice-cream-green_tablet-min.png);
    width: 220px;
    top: -104px;
    height: 224px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-green_tablet@2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/products/ice-cream-green_laptop-min.png);
    width: 335px;
    top: -210px;
    height: 335px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream-green_laptop@2x-min.png);
    }
  }
}
.ware-list__title::after {
  content: '';
  background-image: url(../images/knop.png);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 26px;
  height: 6px;
}

.ware-list__text {
  font-family: var(--main-font-family);
  color: var(--main-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.ware-list__button {
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red-color);
  color: var(--main-red-color);

  border-radius: 50%;
  border: none;
  padding: 0px;
  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--main-red-color);
    transition: var(--timing-function);
    cursor: pointer;
  }
}
.ware-list__icon {
  width: 12px;
  height: 10px;
  fill: currentColor;
}
